<!DOCTYPE html>
<html>
  <head>
    <title>AliveTest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'cors' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
